.CardsSection {
  .head {
    text-align: center;

    h1 {
      font-size: 100px;
      line-height: 100px;
    }

    p {
      font-size: 20px;
    }
  }

  .cards {
    .card {
      padding: 50px 20px;
      border-radius: 20px;
      margin: 20px 10px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: space-between;
      h2 {
        font-size: 70px;
        line-height: 70px;
        opacity: 0.7;
      }

      &.card1 {
        background-color: #f42e3d;
        text-align: center;

        p {
          font-size: 22px;
          margin-top: 20px;
        }
      }
      &.card2 {
        background-color: #3f3f3f;
        text-align: center;

        p {
          font-size: 22px;
          margin-top: 20px;
        }
      }

      &.card3 {
        background-color: #eb7126;
        padding-bottom: 0;

        .left {
          height: 90%;

          .top {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            button {
              width: fit-content;
              margin-top: 20px;
            }
          }
        }

        .specs {
          display: flex;
          gap: 20px;
          //   flex-direction: column;
          .spec {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 5px 20px;
            width: fit-content;
            border-radius: 10px;

            background-color: rgba(255, 255, 255, 0.12);
            font-size: 22px;

            border: 1px solid rgba(255, 255, 255, 0.557);
          }
        }

        @include respond-below(md) {
          .left {
            height: unset;
          }

          .specs {
            padding-top: 20px;
            flex-direction: column;
          }
        }
      }
    }
  }

  @include respond-below(md) {
    .head {
      h1 {
        font-size: 50px;
        line-height: 50px;
      }
    }

    .cards {
      .card {
        h2 {
          font-size: 50px;
          line-height: 50px;
        }
      }
    }
  }
}
